body {
    font-size:13px;
    background-image: url("../images/background.png");
    background-repeat:no-repeat;
    background-attachment: fixed;
}

#sidebar {
    box-sizing: border-box;
    width:100%;
    margin-top:20px;
}

.logo {
    margin-top:10px;
    margin-bottom:10px;
}

.header_logo {
    max-width:90%;
    margin: 0 auto;
}

#sidebar .nav > li > a > img {
    max-width:90%;
}

.nav > li > a:hover {
    background-color:rgba(230,245,230,0.8);   
}

a {
    color:#2dad6c;   
}

code, pre {
    font-family: "Courier New", monospace;
    background-color: rgba(245,245,245,0.4)
}

pre code {
    font-weight:300;
}

code {
    color:#2dad6c;   
    font-weight:700;
}

a:hover {
    color:#1c7548;
}

pre {
    margin:20px;
    font-size:90%;
}

blockquote {
    padding: 10px;
    margin: 20px;
    border-left:none;
    background-color: rgba(245,245,245,0.7);
    border-radius:5px;
    border: 1px solid #cccccc
}

blockquote p {
    font-size:100%;
}


.sidebar-section {
    padding:10px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgba(245,245,245,0.4);
    border: 1px solid #ddd;
}

.sidebar-section>ul {
    max-height: 600px;
    overflow: auto;
}

.sidebar-section h2 {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 7px;
}

.sidebar-section h2 a {
    color:#333333;
}

.sidebar-section.footer h4 {
    margin:0;
}

.sidebar-section.footer {
    margin-bottom:16px;
}

.copy {
    font-size:90%;
    text-align: center;
    color:#999;
    font-weight: 100;
}

.copy p {
    margin:0;
}

.sidebar-section.footer p {
    font-size:90%;
    margin:4px 0 0 0;
    color:#999;
}

.sidebar-section>ul>li {
    margin-top:3px;
}

.sidebar-section>ul>li>a {
    border-radius:5px;
    padding:5px 10px;
}

.sidebar-section>ul>li.active>a {
    background-color: #2dad6c;
    color:#fff;
}

.sidebar-section>ul>li>ul {
    display:none;
    font-size:0.9em;
}

.sidebar-section>ul>li.active>ul {
    display:block;
}

.sidebar-section>ul>li>ul>li {
    margin-top:0px;
    margin-left:15px;
}

.sidebar-section>ul>li>ul>li>a:hover {
    background-color: transparent;
}

.sidebar-section>ul>li>ul>li>a {
    padding:4px 5px;
}

.content {
    margin-bottom:20px;
}

.content li {
    margin:6px 0;
}

hr {
    width:80%;
    margin:40px auto;
    border-top: 1px solid #ddd;
}

h3 {
    font-size:22px;
    margin-top:30px;
}

@media screen and (min-width: 992px) {
    #sidebar {
        position:fixed;
        top:0px;
        width:213px;
    }

    .header_logo {
       margin:0;
    }
}

@media screen and (min-width: 1200px) {
    #sidebar {
        position:fixed;
        top:0px;
        width:263px;
    }

    .header_logo {
       margin:0;
    }
}
