version: 2
updates:
- package-ecosystem: "bundler"
  directory: "/docs"
  schedule:
    interval: daily
    time: '01:00'
  open-pull-requests-limit: 5


- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
    time: '01:00'
  open-pull-requests-limit: 5
  

- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: daily
    time: '01:00'
  open-pull-requests-limit: 5
