<h2>
<a href="http://github.com/onsi/ginkgo">
    <img src="images/ginkgo_small.png" class="img-responsive header_logo">
</a>
</h2>

<ul class="nav">
    <li>
        <a href="#getting_ginkgo">Getting Ginkgo</a>
    </li>
    <li>
        <a href="#getting_started_writing_your_first_test">Your First Test</a>
        <ul class="nav">
            <li>
                <a href="#bootstrapping_a_suite">Bootstrapping</a>
            </li>
            <li>
                <a href="#adding_specs_to_a_suite">Adding Specs</a>
            </li>
            <li>
                <a href="#marking_specs_as_failed">Marking Specs as Failed</a>
            </li>
            <li>
                <a href="#logging_output">Logging Output</a>
            </li>
            <li>
                <a href="#converting_existing_tests">Converting Existing Tests</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#structuring_your_specs">Structuring Your Specs</a>
        <ul class="nav">
            <li>
                <a href="#individual_specs_"><code>It</code> Blocks</a>
            </li>
            <li>
                <a href="#extracting_common_setup_"><code>BeforeEach</code> & <code>AfterEach</code> Blocks</a>
            </li>
            <li>
                <a href="#organizing_specs_with_containers__and_"><code>Describe</code> & <code>Context</code> Containers</a>
            </li>
            <li>
                <a href="#separating_creation_and_configuration_"><code>JustBeforeEach</code> Blocks</a>
            </li>
            <li>
                <a href="#global_setup_and_teardown_before_and_after_the_suite">Global Setup and Teardown</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#the_spec_runner">The Spec Runner</a>
        <ul class="nav">
            <li>
                <a href="#pending_specs">Pending Specs</a>
            </li>
            <li>
                <a href="#focused_specs">Focused Specs</a>
            </li>
            <li>
                <a href="#spec_permutation">Spec Permutation</a>
            </li>
            <li>
                <a href="#parallel_specs">Parallel Specs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#asynchronous_tests">Asynchronous Tests</a>
    </li>
    <li>
        <a href="#the_ginkgo_cli">The Ginkgo CLI</a>
        <ul class="nav">
            <li>
                <a href="#running_tests">Running Tests</a>
            </li>
            <li>
                <a href="#generators">Generators</a>
            </li>
            <li>
                <a href="#other_subcommands">Other Subcommands</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#benchmark_tests">Benchmark Tests</a>
        <ul class="nav">
            <li>
                <a href="#measuring_time">Measuring Time</a>
            </li>
            <li>
                <a href="#recording_arbitrary_values">Recording Arbitrary Values</a>
            </li>
        </ul>        
    </li>
    <li>
        <a href="#shared_example_patterns">Shared Example Patterns</a>
        <ul class="nav">
            <li>
                <a href="#locally-scoped_shared_behaviors">Locally-scoped Shared Behaviors</a>
            </li>
            <li>
                <a href="#global_shared_behaviors">Global Shared Behaviors</a>
            </li>
        </ul>        
    </li>
    <li>
        <a href="#ginkgo_and_gomega_on_travisci">Ginkgo and Gomega on TravisCI</a>
    </li>
    <li>
        <a href="#writing_custom_reporters">Writing Custom Reporters</a>
    </li>
    <li>
        <a href="#third_party_integrations">Third Party Integrations</a>
        <ul class="nav">
            <li>
                <a href="#integrating_with_gomock">Integrating with Gomock</a>
            </li>
            <li>
                <a href="#generating_junit_xml_output">Generating JUnit XML Output</a>
            </li>
            <li>
                <a href="#using_other_matcher_libraries">Using Other Matcher Libraries</a>
            </li>
        </ul>
    </li>
</ul>

