<h2>
<a href="http://github.com/onsi/ginkgo">
    <img src="images/ginkgo_small.png" class="img-responsive header_logo">
</a>
</h2>

<ul class="nav">
    <li>
        <a href="#getting-ginkgo">Getting Ginkgo</a>
    </li>
    <li>
        <a href="#getting-started-writing-your-first-test">Your First Test</a>
        <ul class="nav">
            <li>
                <a href="#bootstrapping-a-suite">Bootstrapping</a>
            </li>
            <li>
                <a href="#adding-specs-to-a-suite">Adding Specs</a>
            </li>
            <li>
                <a href="#marking-specs-as-failed">Marking Specs as Failed</a>
            </li>
            <li>
                <a href="#logging-output">Logging Output</a>
            </li>
            <li>
                <a href="#ide-support">IDE Support</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#structuring-your-specs">Structuring Your Specs</a>
        <ul class="nav">
            <li>
                <a href="#individual-specs-it"><code>It</code> Blocks</a>
            </li>
            <li>
                <a href="#extracting-common-setup-beforeeach"><code>BeforeEach</code> & <code>AfterEach</code> Blocks</a>
            </li>
            <li>
                <a href="#organizing-specs-with-containers-describe-and-context"><code>Describe</code> & <code>Context</code> Containers</a>
            </li>
            <li>
                <a href="#separating-creation-and-configuration-justbeforeeach"><code>JustBeforeEach</code> Blocks</a>
            </li>
            <li>
                <a href="#global-setup-and-teardown-beforesuite-and-aftersuite"><code>BeforeSuite</code> & <code>AfterSuite</code> Blocks</a>
            </li>
            <li>
                <a href="#documenting-complex-its-by"><code>By</code> Docs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#the-spec-runner">The Spec Runner</a>
        <ul class="nav">
            <li>
                <a href="#pending-specs">Pending Specs</a>
            </li>
            <li>
                <a href="#focused-specs">Focused Specs</a>
            </li>
            <li>
                <a href="#spec-permutation">Spec Permutation</a>
            </li>
            <li>
                <a href="#parallel-specs">Parallel Specs</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#understanding-ginkgos-lifecycle">Ginkgo's Lifecycle</a>
        <ul class="nav">
            <li>
                <a href="#avoiding-test-pollution">Avoiding Test Pollution</a>
            </li>
            <li>
                <a href="#patterns-for-dynamically-generating-tests">Dynamically Generating Tests</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#asynchronous-tests">Asynchronous Tests</a>
    </li>
    <li>
        <a href="#the-ginkgo-cli">The Ginkgo CLI</a>
        <ul class="nav">
            <li>
                <a href="#running-tests">Running Tests</a>
            </li>
            <li>
                <a href="#watching-for-changes">Watching for Changes</a>
            </li>
            <li>
                <a href="#precompiling-tests">Precompiling Tests</a>
            </li>
            <li>
                <a href="#generators">Generators</a>
            </li>
            <li>
                <a href="#avoiding-dot-imports">Avoiding Dot Imports</a>
            </li>
            <li>
                <a href="#converting-existing-tests">Converting Existing Tests</a>
            </li>
            <li>
                <a href="#other-subcommands">Other Subcommands</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#benchmark-tests">Benchmark Tests</a>
        <ul class="nav">
            <li>
                <a href="#measuring-time">Measuring Time</a>
            </li>
            <li>
                <a href="#recording-arbitrary-values">Recording Arbitrary Values</a>
            </li>
        </ul>        
    </li>
    <li>
        <a href="#shared-example-patterns">Shared Example Patterns</a>
        <ul class="nav">
            <li>
                <a href="#locally-scoped-shared-behaviors">Locally-scoped Shared Behaviors</a>
            </li>
            <li>
                <a href="#global-shared-behaviors">Global Shared Behaviors</a>
            </li>
        </ul>        
    </li>
    <li>
        <a href="#ginkgo-and-continuous-integration">Ginkgo and Continuous Integration</a>
    </li>
    <li>
        <a href="#writing-custom-reporters">Writing Custom Reporters</a>
    </li>
    <li>
        <a href="#extensions">Extensions</a>
        <ul class="nav">
            <li>
                <a href="#table-driven-tests">Table Driven Tests</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#third-party-integrations">Third Party Integrations</a>
        <ul class="nav">
            <li>
                <a href="#using-other-matcher-libraries">Using Other Matcher Libraries</a>
            </li>
            <li>
                <a href="#integrating-with-gomock">Integrating with Gomock</a>
            </li>
            <li>
                <a href="#generating-junit-xml-output">Generating JUnit XML Output</a>
            </li>
        </ul>
    </li>
</ul>

