<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
</head>
<body data-spy="scroll" data-target="#sidebar" data-offset="40">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div id="sidebar">
                    <div class="sidebar-section">
                        {% include ginkgo_sidebar.html %}
                    </div>
                    <div class="sidebar-section footer">
                        <ul class="nav">
                            <li>
                                <a href="http://onsi.github.io/gomega/">
                                    <img src="images/gomega_small.png" class="img-responsive header_logo">
                                    <p>
                                        Gomega is Ginkgo's preferred matcher library.
                                    </p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav">
                            <li>
                                <a href="http://agouti.org/">
                                    <img src="images/agouti_small.png" class="img-responsive header_logo">
                                    <p>
                                        Agouti is an acceptance testing library designed to work with Ginkgo. 
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="copy">
                        <p>Ginkgo and Gomega are MIT-Licensed</p>
                        <p>© Onsi Fakhouri</p>
                    </div>
                </div>
            </div>
            <div class="col-md-9 content">
                <img src="images/ginkgo.png" class="img-responsive logo">
                {{ content }}
            </div>
        </div>
    </div>
</body>
</html>
